/*
1.Posicionamiento
2.Modelo caja (Box model)
3.Tipografia
4. Visuales
5. Otros
*/

:root {
    /*Colores*/
    --curtx-blue: #028090;
    --secundary-blue: #05668D;
    --extra-color: #02C39A;
    --secundary-extra: #00A896;
    --parrafo-color: #F0F3BD;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

.container {
    flex-wrap: wrap;
    display: flex;
}

/*Header*/

.button_menu_mobile{
    display: none;
}

.menu_desktop{
    display: flex;
    height: 5vh;
    padding: 1.5em;
}

.menu_items{
    display: inline-block;
    padding-top: 0.8em;
}

.menu_desktop img{
    width: 10.0em;
    height: 3.7em;

}

.menu_items li {
    display: inline;
    font-size: 1.5rem;
    padding-left: 1.0em;
}

.menu_items li a{
    font-size: 1.5rem;
    text-align: center;
    color: #201E1C;
    text-decoration: none;
}

.menu_items li a:hover, .academia_desktop a:hover{
    transition: all .4s;
    color: #656565;
    opacity: 0.8;
}

.menu{
    flex-grow: 1;
}


.nav_busqueda, .cursos_home hr, .logo_mobile{
    display: none;
}


.objetos_desktop {
    display: inline;
    font-size: 1.2rem;
    text-align: center;
    color: #201E1C;
    text-decoration: none;
}

/*Bloque incio de sesion - Pagina Inicio*/

.inicio_sesion_desktop {
    display: block;
    flex-grow: 1;
    margin-top: 2.0em;
}

.inicio_sesion_desktop a{
    border: 1.5px solid #1c1d1f;
    margin: 0 1.2rem;
    padding: 0.8em 0.6em;
    font-weight: 700;
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
    letter-spacing: -.02rem;
    line-height: 1.2;
    
}

.inicio_sesion_desktop a:hover {
    transition: all 0.5s;
    background-color: #000000;
    color: var(--white);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

/*Bloque de academia - Pagina Inicio*/

.academia_desktop {
    display: block;
    padding-top: 2.1em;
    flex-grow: 1;
}

.academia_desktop a{
    font-size: 1.5rem;
    text-align: center;
    color: #201E1C;
    text-decoration: none;
}

/*Bloque de shopping - Pagina Inicio*/

.nav_tienda_desktop {
    display: block;
    flex-grow: 1;
}

/*Bloque de busqueda - Pagina Inicio*/

.nav_busqueda_desktop {
    display: block;
    flex-grow: 999;
    border: 1px solid #1c1d1f;
    margin: 0 1.2rem;
    height: 4.8rem;
    border-radius: 99em;
    background-color: #f7f9fa;
    margin-top: 0.7em;

}

.form_busqueda{
    display: flex;
    align-items: center;
    padding: 0 2.4rem 0 0;
    margin-top: -0.7em;
}

.nav_busqueda_desktop .form_busqueda  input{
    background-color: transparent;
    border: 0;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
    height: 3.4rem;
    outline: none;
}

/*Bloque de idioma - Pagina Inicio*/

.idioma_desktop {
    display: block;
    flex-grow: 1;

}

/*Bloque de registro - Pagina Inicio*/

.registro_desktop{
    display: block;
    flex-grow: 1;
    margin-top: 2.0em;
}

.registro_desktop a{
    margin: 0 1.2rem;
    padding: 0.8em 0.8em;
    background-color: rgb(27, 27, 27);
    font-size: 1.5em;
    color: var(--white);
    text-decoration: none;
    
}

.registro_desktop a:hover {
    transition: all 0.5s;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}


/*Bloque title - Pagina inicio*/

.title {
    height: 60.4em;
}

.title--container .title--button{
    top: 37em;
}

.title--container .title--unete--button{
    display: block;
    margin-top: 3em;
    padding: 0.8em;
    background-color: transparent;
    border: 0.1em solid var(--white);
    width: 18.5em;
    border-radius: 222em;
    font-size: 1.5rem;
    color: var(--white);
    text-decoration: none;
    margin-left: calc(50% - 9.6em);
}

.title--container .title--unete--button:hover{
    background-color: white;
    transition: all 0.5s;
    color: var(--curtx-blue);


}

/*Bloque de cursos - Seccion cursos*/

.container-cursos{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.cursos_home{
    background: var(--white);
    justify-content: center;
    width: 100%;
}

.cursos_home h2{
    color: #000000;
}

.cursos_home h3{
    color: #000000;
}

.container--general--cursos{
    align-self: center;
}

/*Bloque de imagenes - Seccion imagenes*/

.cursos--diferentes{
    display: flex;
    justify-content: center;
    
}

/*Bloque de imagenes - Seccion imagenes*/

.empresas--contenedor{
    display: flex;
    justify-content: center;
    
}


/*Categorias principales - Pagina categorias*/

.categorias--principales{
    display: flex;
    justify-content: center;
}

/*Categorias principales - Pagina cursos*/

.cursos--container{
    display: flex;
    justify-content: center;
    width: 100%;
}


.cursos--selectbox--container{
    align-self: center;
}

/*Bloque de cursos card*/

.card--curso{
    width: 100%;
}

/*Contacto - Pagina*/

.button--contacto{  
    width: 25%;
}

.container--column--input--right{
    text-align: left;
    margin: 1em;
}

/*Footer*/
.footer--general--mobile{
    display: none;
}

.footer--general--desktop{
    display: flex;
    flex-wrap: wrap;
}

.lista--footer--desktop{
    width: 20%;
}

.lista--footer--desktop ul{
    list-style: none;
}

.lista--footer--desktop li{
    font-size: 1.6rem;
    padding: 0.5em 0 0.5em 0.5em;
    font-style: normal;
    
}

.lista--footer--desktop a, .container--copyright--footer p{
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--white);
}

.lista--footer--desktop li a:hover{
    text-decoration: underline var(--white);
    transition: all .9s;
}

.container--logo--footer{
    width: 50%;
    padding: 5.5em 0 0.5em 0.5em;
}


.container--copyright--footer{
    width: 50%;
    text-align: end;
    padding: 5.5em 0.7em 0 0;

}

/*Login*/

.contenedor_contenido{
    height: 80vh;
  }


/*registro*/

.contenedor_contenido1{
    padding: 1em;
  }

@media (max-width: 1700px) {

    /*Bloque de academia*/

    .academia_desktop {
        display: none;
    }



}