/*
1.Posicionamiento
2.Modelo caja (Box model)
3.Tipografia
4. Visuales
5. Otros
*/

:root {
    /*Colores*/
    --curtx-blue: #028090;
    --secundary-blue: #05668D;
    --extra-color: #02C39A;
    --secundary-extra: #00A896;
    --parrafo-color: #F0F3BD;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

.container {
    flex-wrap: wrap;
    display: flex;
}

/*Header*/
/*Posicionamiento*/
/*Estilos*/

header {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    min-width: 32em;
    background-color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    max-height: 10vh;
}

.header-general {
    width: 100%;
    display: flex;
}

.show_header {
    opacity: 0.6;
}

.show--main {
    opacity: 0.6;
}

/*Bloque logo*/

.logo_mobile {
    width: 50%;
    align-self: center;
    padding: auto;
    margin-top: 1.0em;
}

img header {
    width: 5.0em;
    height: 5.0em;
}


/*Bloque iconos de busqueda*/

.nav_busqueda {
    width: 25%;
    align-self: center;
    font-size: 0.8em;
}


/*Bloque iconos de desktop*/

.inicio_sesion_desktop {
    display: none;
}

.registro_desktop {
    display: none;
}

.academia_desktop {
    display: none;
}

.idioma_desktop {
    display: none;
}

.menu_desktop {
    display: none;
}

.nav_busqueda_desktop {
    display: none;
}

.nav_tienda_desktop {
    display: none;
}

.objetos_desktop {
    display: none;
}

/*Menu*/
.icons {
    color: black;
    background: none;
    border: none;
    font-size: 2.0em;
    line-height: 3.0em;
    padding: 0 0.6em;
    align-self: center;
}

.button_menu_mobile {
    width: 25%;
}

/*Menu movil desplegable*/

.menu_mobile {
    position: absolute;
    background-color: var(--white);
    min-width: 60%;
    height: 100vh;
    padding: 1.5em;
    color: var(--curtx-blue);
    margin-left: -100%;
    transition: all .4s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-width: 70%;
    z-index: 1;
}


.show {
    margin-left: 0;
}

.show_cerrar {
    margin-left: -100%
}


.menu_mobile img {
    width: 5.5em;
    height: 2.0em;
}

.icon_cerrar {
    color: black;
    background: none;
    border: none;
    font-size: 1.5em;
    line-height: 1.0em;
    margin-left: auto;
    float: right;
}

.lista ul {
    list-style: none;
    border-bottom: 0.2rem solid var(--secundary-blue);
}

.lista ul {
    list-style: none;
    border-bottom: 0.1rem solid var(--secundary-blue);
    padding-bottom: 1.3em;
    padding-top: 1.3em;
}

.lista li {
    list-style: none;
    font-size: 1.6rem;
    padding: 0.5em 0 0.5em 0.5em;
    font-style: normal;
}

.menu_mobile a {
    text-decoration: none;
    background-color: transparent;
    color: var(--curtx-blue);
}

/*Bloque de idiomas*/

.idiomas ul {
    border-bottom: 1.0rem solid var(--white);
}

.button-idioma {
    display: flex;
    text-decoration: none;
    background-color: transparent;
    border: 0.15rem solid black;
}

.button-idioma i {
    color: black;
    padding: 0.7em;
    font-size: 1.2em;
}

.button-idioma p {
    color: black;
    padding: 0.7em;
    font-size: 1.2em;
}

/*seccion de incio*/

.title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32em;
    height: 40.4em;
    text-align: center;
    background: linear-gradient(207.8deg, #00A896 16.69%, #05668D 100%);
}

.title img {
    width: 6.5em;
    height: 2.0em;
    margin-top: 6em;
    align-self: center;
}

.title--container {
    width: 80%;
    min-width: 28.8em;
    max-width: 90em;
    height: 21.8em;
    margin-top: 4em;
    text-align: center;
    align-self: center;
}

.title--container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.4rem;
    color: var(--white);
}

.title--container p{
    margin-top: 1.5em;
    font-size: 1.4rem;
    font-weight: 550;
    line-height: 1.8rem;
    color: #FFE9D5;
}

.title--container .title--button{
    position: absolute;
    left: calc(50% - 10em);
    top: 23em;
    display: block;
    margin-top: 3.5em;
    padding: 1.5em;
    width: 19em;
    height: 4.3em;
    background-color: var(--white);
    /*Sombra boton*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 0.4em;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.title--container .title--unete--button{
    display: none;
}

/*seccion de aprendizaje*/

.aprendizaje{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32em;
    height: auto;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
}

.aprendizaje--container{
    width: 80%;
    min-width: 28.8em;
    max-width: 100em;
    height: auto;
    margin-top: 2em;
    text-align: center;
    align-self: center;
}

.aprendizaje--container img {
    width: 100%;
    /*Su crecimiento es automatico*/
    height: auto;
    margin-top: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aprendizaje--container h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.4rem;
    color: #201E1C;
}

.aprendizaje--container p{
    margin-top: 1.1em;
    margin-bottom: 1.1em;
    font-size: 1.2rem;
    font-weight: 520;
    line-height: 1.8rem;
    color: #757575;
}

/*Boton de busqueda - Seccion aprendizaje*/
.busqueda_aprendizaje_bloque {
    display: flex;
    flex-grow: 1;
    border: 1px solid #000000;
    margin: 0 1.2rem;
    height: 4.8rem;
    background-color: var(--white);
    margin-top: 0.7em;
}

.form_busqueda_aprendizaje{
    display: flex;
    align-items: center;
    padding: 0 2.4rem 0 0;
    margin-top: -0.7em;
}

.form_busqueda_aprendizaje input{
    background-color: transparent;
    border: 0;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
    height: 3.4rem;
}

/*Bloque de cursos - Seccion cursos*/

.cursos_home{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 32em;
    height: auto;
    text-align: left;
    padding: 1em;
    background: linear-gradient(180deg, #028090 46.88%, #05668D 97.4%);
}

.cursos_home h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.4rem;
    color: #ffffff;
}

.cursos_home h3{
    font-weight: 700;
    font-size: 1.7em;
    line-height: 2.0em;
    color: #ffffff;
}

.cursos_home hr{
    height: 0.2em;
    background-color: var(--white);
    border-radius: 0.1em;
}

.container-cursos{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 32em;
    height: auto;
    padding: 2em;
}

/*Bloque de cursos card*/

.card--curso{
    width: 100%;
    background-color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: auto;
    margin-bottom: 1em;
}

.card--curso--top img{
    width: 100%;
    height: auto;
}

.card--curso--body{
    padding: 1em;
}

.card--curso--body h2 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: #201E1C;
}

.card--curso--body p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #757575;
    margin-top: 0.5em;
}

.card--curso--bottom{
    padding: 0 1em 1em 1em;
}

.precio--descuento--curso{
    display: flex;
}

.precio--descuento--curso span {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #028090;
}

.price_old{
    margin-left: 0.5em;
}

/*Boton de compra - Seccion curso*/

.compra_button_cursos{
    display: flex;
    flex-grow: 1;
    border: none;
    margin: 0 1.2rem;
    height: 4.8rem;
    background-color: var(--curtx-blue);
    margin-top: 0.7em;

}

.form_compra_cursos{
    display: flex;
    align-items: center;
    padding: 0 2.4rem 0 0;
    margin-top: -0.4em;
    margin-left: calc(50% - 8.3em);
}

.compra_curso_carrito_button{
    display: flex;
    border: none;
    background-color: transparent;

}

.compra_curso_carrito_button span{
    font-size: 1.5rem;
    padding-left: 0.5em;
    color: var(--white);
}



/*Apartados home*/

/*Error*/

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #028090;
  --color-2: #1E1E1E;
  --color-3: #00A896;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

.container1 {
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh
}

.title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 800;
  font-size: 8.5vw;
  text-transform: uppercase;
}

.title1 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 800;
  font-size: 6.5vw;
  text-transform: uppercase;
}

/*login*/

.contenedor_contenido{

  position: relative;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  min-width: 32em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenedor_formulario{
  width: 55%
}

.contenedor_contenido h1{
  color: black;
  font-weight: 500;
  font-size: 3.6em;
  display: inline-block;
}

.contenedor_contenido h2{
  color: black;
  font-weight: 500;
  font-size: 1.6em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 3px solid #05668D;
  display: inline-block;
}

.input{
  margin-bottom: 50px;
}

.input span{
  font-size: 1em;
  display: inline;
  font-weight: 700;
  letter-spacing: 1px;
}

.input input{
  width: 100%;
  padding: 12px 20px;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
}

.input button{
  width: 100%;
  padding: 12px 20px;
  font-size: 1em;
  letter-spacing: 1px;
  color: #black;
  background:#028090;
}

/*registro*/

.contenedor_contenido1{

  position: relative;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  min-width: 32em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenedor_formulario1{
  width: 55%
}

.contenedor_contenido1 h1{
  color: black;
  font-weight: 500;
  font-size: 3.6em;
  display: inline-block;
}

.contenedor_contenido1 h2{
  color: black;
  font-weight: 500;
  font-size: 1.6em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 3px solid #05668D;
  display: inline-block;
}

.input1{
  margin-bottom: 50px;
}

.input1 span{
  font-size: 1em;
  display: inline;
  font-weight: 700;
  letter-spacing: 1px;
}

.input1 input{
  width: 100%;
  padding: 12px 20px;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
}

.input1 button{
  width: 100%;
  padding: 12px 20px;
  font-size: 1em;
  letter-spacing: 1px;
  color: #black;
  background:#028090;
}
