/*
1.Posicionamiento
2.Modelo caja (Box model)
3.Tipografia
4. Visuales
5. Otros
*/

:root {
    /*Colores*/
    --curtx-blue: #028090;
    --secundary-blue: #05668D;
    --extra-color: #02C39A;
    --secundary-extra: #00A896;
    --parrafo-color: #F0F3BD;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

.container {
    flex-wrap: wrap;
    display: flex;
}


/*Bloque de cursos - Seccion cursos*/

.container-cursos{
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}


/*Bloque de cursos card*/

.card--curso{
    width: 100%;
}

/*Contacto - Pagina*/

.button--contacto{  
    width: 80%;
}

.container--column--input--right{
    text-align: center;
    margin: 1em;
}
